* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  height: 400px;
  background-color: blue;
}

.header-top {
  height: 100px;
  background-color: red;
}

.header-top-logo {
  background-color: pink;
  float: left;
  width: 20%;
}

.header-top-nav-left {
  background-color: yellow;
  float: left;
  width: 40%;
}

.header-top-nav-right {
  background-color: green;
  float: left;
  width: 40%;
}
